@CHARSET "ISO-8859-1";
body{
    width: 100%;
    min-height:100%;
}
.header {
	height: 61px; 
	width: 975px;
	margin-top: -10px;
	left: 15%;
	position: absolute;
}
.hellotext {
	font-size: 17pt;
	 color: #979797;
}
linksupport:visited {
	text-decoration: none;
		 color: #ffa726;
	/*	 color: #979797; */
}
linksupport:hover {
	text-decoration: none;
	color: 58b7d5;
}
.linksupport {
		text-decoration: none;
		 color: #ffa726;
	/* color: #979797; */
}
#activ {
	 border-bottom: 2px solid #ffd180;
}
#support {
	top:20px; 
	left: 20px;
	margin-top: 20px;
	margin-left: 20px;
	width: 30px;

}
#logout{
	margin-top: -25px;
/*	margin-top: -52px; */
	margin-left: 945px;
	right: 10px;
	width: 30px;

}
.mainbody{
	width: 975px; 
	height: 85%; 
	position: absolute; 
	left: 15%; 
	margin-top: 51px;
}
/*
.insideMainbody{
	overflow: auto;
	margin-left: 300px;
	margin-right: 50px;
	margin-top: -70%;
	height: 90%;
}
*/
#inside {
	background-color: #fafbfc; 
}
#insidefield {
	background-color: #fafbfc;
	border-top: 1px solid #979797;
}
.menufield {
	/*	background-color: #dbdbdb; */
	width: 200px;
	margin-left: 10px; 
	margin-top: 10px;
	border-right: 1px solid #979797;
	border-top: 1px solid #979797;
	border-left: 1px solid #979797;
	border-bottom: 1px solid #979797;
	border-radius: 5px;
}
.mainInsidefield{
	 position: absolute; 
	overflow: auto;
	margin-left: 300px;
	/* margin-top: -70%; */
	margin-right: 50px;
	top: 10px;
	height: 90%; 
	width: 625px; 
}
.inputfield {
	height: 25px;
}
#search {
	margin-left: 700px;
	 margin-top: 3px; 
}
#searchButton {
	background-color: #fafbfc;
	border-bottom-width: 1px; 
	border-style: none; 
	-webkit-border-radius: 1px; 
	border-radius: 1px;
	-webkit-border-radius: 1px; 
	border-radius: 1px;
	margin-left: -3px;
	margin-top: -20px;
}
#searchText {
	font-size: 13pt; 
	color: #797979; 
}
.buttons {
	background-color: #979797; 
	border-bottom-width: 1px; 
	border-style: none; 
	-webkit-border-radius: 8px; 
	border-radius: 8px;
	-webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}
.buttonName {
	font-size: 15pt; 
	color: #fafbfc;
}

.inputName {
	border-bottom: 1px solid #979797; 
	font-size: 15pt; 
	color: #979797;
}
.notification {
	font-size: 20pt; 
	color: #fafbfc;
	margin-left: 175px;
	left: 175px;
	width: 300px;
	margin-top: -30px;
	position: absolute;
	/*
	font-size: 20pt; 
	color: #fafbfc;
	text-align: center;
	margin-top: -30px; */
}
.logo {
	font-size: 20pt;
	color: #ffa726;
	margin-top: 7px;
	top: 7px;
	margin-left: 70px;
	position: absolute;
	text-decoration: none;
	/*
	font-size: 20pt;
	color: #979797;
	margin-top: -30px;
	margin-left:70px; */
}

#studyeasy {
	font-size: 35pt; 
	color: #ffa726;
	/* color: #fafbfc; */
}

.footer {
	position: absolute; 
	bottom: 2px; 
	height: 5%; 
	width: 100%; 
	text-align: center;
	color: #979797;
	font-size: 10pt;
}
.barbottom {
	margin-left: 10px;
	text-decoration: none;
}
a.barbottom:visited {
	color: #979797;
	text-decoration: none;
}

@-webkit-keyframes mymove {
    50% {box-shadow: 5px 4px 10px #979797;}
}
.pinnwallFrame {
	overflow: auto;
	bottom: 5px;
	width: 500px;
	height: 400px;

}
.pinnwall {
	/*background-color: #D8D8D8;*/
	width: 500px;
	height: 400px ;
	word-break: break-all;
	word-wrap:break-word;
	
}

#history { 
	border-collapse: separate;
	border-spacing: 3px; 
}
#history td {
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
}
#history tr:nth-child(even) {
	/*graue Zeile*/
	background-color: #D9D9D9;
	border: 1px solid black;
}
#history tr:nth-child(odd) {
	/*blaue Zeile*/
	background-color: #B0E5FF;
	border: 1px solid black;
	
}
#history tr:hover {
	background-color: #58D3F7;
}
#history th {
	
	border: 1px solid black;
}
#groupPinnwall {
	border-collapse: separate;
	border-spacing: 10px;
}
#groupPinnwall td {
	border: #B0E2FF;
	border-radius: 5px;
	padding: 5px;
}
#groupPinnwall tr {
	/*graue Zeile*/
	background-color: #B0E2FF;
	border: 1px #B0E2FF;
}
#groupPinnwall tr:hover {
	background-color: #58D3F7;
}
#groupPinnwall th {
	
	border: 1px solid black;
}
#homePinnwall {
	border-collapse: separate;
	border-spacing: 10px;
}
#homePinnwall td {
	border: #B0E2FF;
	border-radius: 5px;
	padding: 5px;
}
#homePinnwall tr {
	/*graue Zeile*/
	background-color: #B0E2FF;
	border: 1px #B0E2FF;
}
#homePinnwall tr:hover {
	background-color: #58D3F7;
}
#homePinnwall th {
	
	border: 1px solid black;
}


.insideMainbodyHeadline {
	font-size: 18pt;
	color: #979797;
}
