<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>study-easy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="resources/css/main.css" />
<link rel="icon" type="image/vnd.microsoft.icon"
	href="resources/images/sopra.ico" />
</head>
<body
	style="background-image: url(resources/images/tafel.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: center center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
	<!-- Hintergrundbild muss hier stehen nicht in css verschieben!! -->
	<div class="header" id="inside">
		<div id="support">
		<a th:href="@{/support}" target="_blank"><img src="resources/images/supportdunkel.png" width="20" height="20" /></a>
		</div>
		<a th:href="@{/home}" class="logo">study-easy</a>
		
		<p th:text="${error}" class="notification" style="color: #979797; margin-top: -25px;"></p>
		<form class="logo" id="search" method="get" action="#" th:action="@{/search}">
		<button type="submit" id="searchButton"><span id="searchText">GO</span>
		</button>
  		<input type="text" name="search" size="20" style="height: 20px; width: 180px;  margin-top:8px;" placeholder="Suche..."/>	
		</form>
		<div id="logout">
		<a th:href="@{/logout}"><img src="resources/images/logoutdunkel.png" width="20" height="20"/></a>
		</div>
	</div>
	<div class="mainbody" id="insidefield">
		<div class="menufield">
		<div class="hellotext">
		<a href="#" th:href="@{/home}" class="linksupport"><span th:text="${name}" id="userFont">Mein Profil</span></a><br/>
			<dl>
			<dt><a th:href="@{/group}" class="linksupport"> <span th:text="${groupName}"></span></a></dt>
				<dd><a th:href="@{/groupchange}" class="linksupport" id="activ"><span th:text="Profil_bearbeiten"></span></a></dd>
				<dd><a th:href="@{/members}" class="linksupport"><span th:text="Mitglieder"></span></a></dd>
				<dd><a th:href="@{/groupHistory}" class="linksupport"><span th:text="Verlauf"></span></a></dd>
				<dd><a th:href="@{/combat}" class="linksupport" >Combat</a></dd>
				<dd><a th:href="@{/data}" class="linksupport"><span th:text="Dateien"></span></a></dd>
			</dl>


		</div>
		</div>
		<div class="mainInsidefield">
			<!-- beschreibung, Sige, Niederlage, K/D, Siegstreak -->
			<!-- schule, hobby, geburtsdatum,  -->
			<form action="#" th:action="@{/profilchange}" th:object="${Group}"
				method="post">
				<table>
					<tr>
						<td class="inputName"><span th:text="${groupName}">Gruppenname</span></td>
					</tr>
					<tr>
						<td><input  th:field="*{name}" class="inputfield" type="text" value="${groupName}" size="30"/>
						</td>
					</tr>
					<tr>
						<td class="inputName"><span th:text="${subject}">Fach</span>f</td>
					</tr>
					<tr>
						<td><input  th:field="*{subject}" class="inputfield" type="text" value="${subject}" size="30"/>
						</td>
					</tr>
					<tr>
						<td class="inputName">Beschreibung</td>
					</tr>
					<tr>
						<td>
					 	 <textarea th:field="*{description}"  cols="35" rows="4">
						</textarea>
						</td>
					</tr>
					
					<tr>
						<td><button type="submit" class="buttons">
								<span class="buttonName">Daten sichern</span>
							</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="footer">

		<p>
			[Foto: <a class="barbottom"
				href="https://www.flickr.com/photos/eflon/8743593650/in/photolist-ejDcLE-7CXAFs-5f12UX-66DNTm-8DBeHu-u7Kox4-48gJ8a-utYpD-qya12-aoUijf-5rLNHy-8sbsWD-5rWxfB-kbvXU-sfGx6-sfFUe-sfF85-9pySMg-nt9qBc-4Q8N1i-7v4ENF-4Jz3fS-4JuNzc-4Jz2KJ-4Jz2GL-nt9qd6-pdkRm1-aRz3b4-8yLnax-7UtbFe-6qwzjT-a9GaMX-rwgSJK-9yjAXz-21mK7-8aHhds-6ZCUh-ciL5S5-nzfe54-8Dz8cn-nbAtrV-5HDt5Y-i2WtQK-i2WsTz-9ynAis-i2WtsR-i2WGjy-i2WG1C-i2WG2E-i2XpiK"
				target="_blank">Alex</a> CC by <a class="barbottom"
				href="https://creativecommons.org/licenses/by/2.0/" target="_blank">2.0
			</a> ] <a th:href="@{/privacy}" target="_blank" class="barbottom">Rechtliches
			</a>
		</p>
	</div>
</body>

</html>