<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!Passwort: '" />
<a href="test2.html">test</a>
<a th:href="@{/test2.html}">Create Event</a>
<!-- 

	 *  ###### Gehört zur Post Methode ####
	 *  Referenzen auf andere Dateien src/main/java/org.hohenheim/GrettingController.java
	 *  src/main/java/Users/RegUser.java

  -->

<form action="#" th:action="@{/}" th:object="${RegUser}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                     <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
              
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{age}" /></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
</form>
<form action="#" th:action="@{/}" th:object="${User}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                     <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
              
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
</form>

<!-- Ende des betreffenden Bereichs
 -->
</body>
</html>