<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>study-easy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="height: 46pt; min-width: 1200px; width: 101.25%; margin-top: -10px;
 margin-left:-10px; margin-right:-10px; background-color: #b3d4fc;">
 <a th:href="@{/}" style="display: block; text-align: center;">Home</a>
 </div>
<div style="width: 975px; height: 100%; background-color: #EFEFEF;
position: absolute;
left: 15%; margin-top: -0px;">

<div style="background-color: #D3D3D3; height: 100px; width: 250px; margin-left: 0px; top: 46px;">

<a href="#Datenrichtlinie">Datenrichtlinie</a><br />
<a href="#Nutzung">Nutzungsbedingungen</a><br />
<a href="#Impressum">Impressum</a>
</div>

<div style="margin-left: 270px; margin-top: -110px; background-color: yellow;">
<p id="Datenrichtlinie">Datenrichtlinie</p>
<p>Datenrichtlinie</p>
<p id="Nutzung">Nutzungsbedingungen</p>
<p>Nutzungsbedingungen</p>
<p id="Impressum">Impressum</p><br />
<p>Impressum</p>

</div>
</div>


</body>
</html>