<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>study-easy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="resources/css/main.css" />
<link rel="stylesheet" type="text/css" href="resources/css/home.css" />
<link rel="icon" type="image/vnd.microsoft.icon"
	href="resources/images/sopra.ico" />
</head>
<body
	style="background-image: url(resources/images/tafel.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: center center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
	<!-- Hintergrundbild muss hier stehen nicht in css verschieben!! -->
	<div class="header" id="inside">
		<div id="support">
			<a th:href="@{/support}" target="_blank"><img
				src="resources/images/supportdunkel.png" width="20" height="20" /></a>
		</div>
		<p class="logo">study-easy</p>

		<a href="javascript:window.close()" class="notification"
			style="color: #979797; margin-top: -25px;">Schlie&szlig;en</a>
	</div>
	<div class="mainbody" id="insidefield">
		<div class="menufield">
			<div class="hellotext">
				<a href="#Datenrichtlinie" class="linksupport">Datenrichtlinie</a><br />
				<a href="#Nutzung" class="linksupport">Bedingungen</a><br /> <a
					href="#Impressum" class="linksupport">Impressum</a>
			</div>


		</div>
		<div class="mainInsidefield">
			<p id="Datenrichtlinie">Datenschutz</p>
			<p>Study-Easy Datenschutzrichtlinie In der vorliegenden
				Datenschutzrichtlinie („Richtlinie”) wird erl&auml;utert, wie und
				wann Ihre Informationen von Study-Easy erfasst, verwendet und
				weitergegeben werden, sobald Sie unsere Dienste in Anspruch nehmen.
				Study-Easy erh&auml;lt Ihre Informationen &uuml;ber verschiedene
				Wege und unsere anderen Dienste, die mit dieser Richtlinie
				verkn&uuml;pft sind (kollektiv die &bdquo;Dienste&ldquo;) sowie von unseren
				Partnern und anderen Drittanbietern. Sobald Sie einen unserer
				Dienste verwenden, erkl&auml;ren Sie Ihr Einverst&auml;ndnis, dass
				Ihre Informationen gem&auml;&szlig; der vorliegenden
				Datenschutzrichtlinie erfasst, &uuml;bertragen, gespeichert,
				offengelegt und verwendet werden. Ungeachtet des Landes, in dem Sie
				Ihren Wohnsitz haben oder von dem aus Sie Daten bereitstellen,
				autorisieren Sie Twitter dazu, Ihre Daten in jedem anderen Land zu
				verwenden, in dem Study-Easy gesch&auml;ftlich operiert. Erfassung
				und Verwendung von Informationen Grundlegende Account-Informationen:
				Wenn Sie einen Study-Easy Account er&ouml;ffnen oder neu
				konfigurieren, &uuml;bermitteln Sie bestimmte pers&ouml;nliche
				Angaben wie Ihren Nutzernamen, ein Passwort, eine E-Mail-Adresse
				oder zus&auml;tzliche Daten. Ihr Nutzername ist &uuml;ber die
				Study-Easy Dienste nicht &ouml;ffentlich aufgelistet und erscheint
				auf Ihrer Profilseite und in den Suchergebnissen. F&uuml;r einige
				Study-Easy Dienste, wie Suche und &ouml;ffentliche Nutzerprofile,
				ist eine Registrierung nicht erforderlich. Kontaktinformationen: Sie
				k&ouml;nnen Ihre Kontaktinformationen, beispielsweise Ihre
				E-Mail-Adresse zur Anpassung Ihres Accounts oder zur Aktivierung von
				Diensten verwenden. Wir k&ouml;nnen Ihre Kontaktinformationen dazu
				verwenden, Ihnen Informationen &uuml;ber unsere Dienste zu senden,
				Ihnen Werbung zuzusenden, dabei zu helfen, Spam, Betrug oder
				Missbrauch zu vermeiden und anderen dabei zu helfen, Ihren Account
				zu finden, auch durch Dienste von Drittanbietern und
				Client-Applikationen. Zus&auml;tzliche Angaben: Sie k&ouml;nnen
				Ihrem Profil weitere Angaben zur Ver&ouml;ffentlichung auf den
				Study-Easy Diensten hinzuf&uuml;gen, beispielsweise eine
				Kurzbiographie. Wenn Sie uns eine E-Mail schicken, speichern wir
				m&ouml;glicherweise Ihre Nachricht, Ihre E-Mail-Adresse und
				Kontaktdaten, um auf Ihre Anfrage zu reagieren. Die Angabe dieser
				zus&auml;tzlichen Informationen ist absolut freiwillig.


				&Ouml;ffentliche Informationen: Unsere Dienste sollen Ihnen
				erm&ouml;glichen, weltweit Informationen auszutauschen. Die meisten
				von Ihnen &uuml;ber die Study-Easy Dienste zur Verf&uuml;gung
				gestellten Informationen machen wir auf Ihren Wunsch hin
				&ouml;ffentlich. Aus diesen Informationen ziehen wir
				m&ouml;glicherweise R&uuml;ckschl&uuml;sse, beispielsweise darauf,
				an welchen Themen Sie interessiert sind, und wir verwenden die Daten
				zur Anpassung der Inhalte, die wir f&uuml;r Sie anzeigen,
				einschlie&szlig;lich Werbung. In den meisten F&auml;llen werden die
				von Ihnen &uuml;ber die Study-Easy Dienste bereitgestellten
				Informationen standardm&auml;&szlig;ig ver&ouml;ffentlicht, solange
				Sie die Informationen nicht von Study-Easy l&ouml;schen. Durch die
				Study-Easy Dienste werden Ihre &ouml;ffentlichen Informationen einem
				breiten Publikum unverz&uuml;glich zug&auml;nglich gemacht. Dazu
				geh&ouml;ren verschiedene Nutzer, Kunden und Dienste. So werden etwa
				Ihre &ouml;ffentlichen Nutzerprofilangaben und Ihre
				&ouml;ffentlichen an unsere Partner und andere Dritte gesendet. Dazu
				geh&ouml;ren etwa Suchmaschinen, die Study-Easy Inhalte in ihre
				Dienste integriert haben. Wenn Sie &uuml;ber die Dienste
				Informationen oder Inhalte wie beispielsweise Fotos, Videos und
				Links teilen, sollten Sie sich gut &uuml;berlegen, was Sie
				ver&ouml;ffentlichen m&ouml;chten. Links: Study-Easy kann durch
				Weiterleitung von Klicks oder auf andere Art und Weise
				nachverfolgen, wie Sie mit den Links innerhalb unserer Dienste sowie
				in unseren E-Mail-Mitteilungen interagieren. Wir tun dies, um unsere
				Dienste zu verbessern, um relevantere Werbung anzuzeigen und um
				Statistiken dar&uuml;ber erstellen zu k&ouml;nnen, wie h&auml;ufig
				ein bestimmter Link insgesamt angeklickt wurde. Cookies: Wie viele
				andere Websites auch, verwenden wir Cookies und &auml;hnliche
				Technologien, um zus&auml;tzliche Daten &uuml;ber die Nutzung
				unserer Website zu erfassen und unsere Dienste zu verbessern.
				F&uuml;r einen gro&szlig;en Teil unserer Dienste, wie beispielsweise
				das Suchen und Anzeigen &ouml;ffentlicher Nutzerprofile, verwenden
				wir jedoch keine Cookies. Ein Cookie ist eine kleine Datei, die auf
				Ihren Computer oder Ihr Mobilger&auml;t &uuml;bertragen wird.
				Study-Easy verwendet sowohl Sitzungscookies als auch persistente
				(also dauerhafte) Cookies, um besser nachvollziehen zu k&ouml;nnen,
				wie Sie unsere Dienste verwenden, und um die Nutzung durch unsere
				Nutzer insgesamt und den Webdatenverkehr innerhalb unseres Dienstes
				zu &uuml;berwachen und unsere Dienste anzupassen und zu verbessern.
				Die meisten Internetbrowser nehmen Cookies automatisch an. Sie
				k&ouml;nnen die Einstellungen Ihres Browsers so &auml;ndern, dass
				keine Cookies mehr angenommen werden oder Sie eine
				Eingabeaufforderung erhalten, bevor Sie einen Cookie von einer von
				Ihnen aufgerufenen Website annehmen. Wenn Sie Cookies deaktivieren,
				funktionieren einige Dienste jedoch nicht mehr einwandfrei.

				Log-Daten: Wenn Sie unsere Dienste nutzen, erhalten wir unter
				Umst&auml;nden bestimmte Informationen (&bdquo;Log-Daten&ldquo;) wie
				beispielsweise IP-Adresse, Browsertyp, Betriebssystem, Informationen
				zu der zuvor aufgerufenen Webseite und den von Ihnen aufgerufenen
				Seiten, Standort, Mobilfunkanbieter, Ger&auml;teinformationen
				(einschlie&szlig;lich Ger&auml;te-ID und Applikations-ID),
				Suchbegriffe und Cookie-Informationen. Wir erhalten Log-Daten,
				sobald Sie unsere Dienste nutzen, zum Beispiel, wenn Sie unsere
				Webseiten besuchen oder sich bei Study-Easy anmelden, oder wenn Sie
				auf unsere E-Mail-Mitteilungen reagieren. Wir k&ouml;nnen Log-Daten
				au&szlig;erdem erhalten, wenn Sie im Rahmen unserer Dienste auf
				Links, einschlie&szlig;lich Links zu Drittapplikationen, klicken,
				diese anzeigen oder mit ihm interagieren, beispielsweise um eine
				andere Applikation &uuml;ber Study-Easy zu installieren. Study-Easy
				verwendet die Log-Daten, um unsere Dienste zur Verf&uuml;gung zu
				stellen, nachzuvollziehen und zu verbessern, R&uuml;ckschl&uuml;sse
				darauf zu ziehen, an welchen Themen Sie m&ouml;glicherweise
				interessiert sind, und um die Inhalte anzupassen, die wir Ihnen
				anzeigen, einschlie&szlig;lich Werbung. Falls wir die Log-Daten
				nicht bereits vorher gel&ouml;scht haben, werden wir diese Daten
				nach h&ouml;chstens 24 Monaten entweder l&ouml;schen oder alle
				allgemeinen Account-Kennungen wie Ihren Nutzernamen, Ihre
				vollst&auml;ndige IP-Adresse und Ihre E-Mail-Adresse entfernen.


				Dritte und verbundene Unternehmen: Zur Bereitstellung der Dienste
				nutzt Study-Easy eine Vielzahl von Diensten Dritter. Diese
				Drittanbieter erfassen gegebenenfalls Daten, die von Ihrem Browser
				gesendet werden (zum Beispiel Cookies oder Ihre IP-Adresse), wenn
				Sie eine Webseite anfordern. Werbepartner k&ouml;nnen Informationen
				an uns weitergeben, wie beispielsweise Browser-Cookie-IDs, die URLs
				der besuchten Websites, die IDs mobiler Ger&auml;te oder
				kryptographische Hashfunktionen allgemeiner Account-Kennungen (wie
				etwa einer E-Mail-Adresse), die uns bei der Bewertung und der
				Anpassung von Anzeigen an den jeweiligen Nutzer helfen. Auf diese
				Weise k&ouml;nnen wir beispielsweise Werbung f&uuml;r Produkte
				anzeigen, an denen Sie au&szlig;erhalb unserer Dienste bereits
				Interesse gezeigt haben. Sie k&ouml;nnen ma&szlig;geschneiderte
				Anzeigen in Ihren Datenschutzeinstellungen damit Ihr Account nicht
				mit Informationen von Werbepartnern abgestimmt wird. Weitere
				Informationen zu Ihren Datenschutzoptionen erhalten Sie hier.
				Informationen zur Funktionsweise von Werbung auf unseren Diensten
				finden Sie hier. Unter Umst&auml;nden erhalten wir auch von unseren
				verbundenen Unternehmen Informationen &uuml;ber Sie, die uns
				erm&ouml;glichen, unsere Dienste bereitzustellen, nachzuvollziehen
				und zu verbessern sowie die Dienste unserer verbundenen Unternehmen
				zu verbessern, etwa die Zustellung von Anzeigen. Austausch und
				Offenlegung von Informationen Zustimmung oder Anweisung des Nutzers:
				Wir d&uuml;rfen Ihre Daten nach Ihren Anweisungen mit Dritten
				austauschen oder an Dritte weitergeben, wenn Sie zum Beispiel einem
				Web-Client oder einer Applikation gestatten, auf Ihren Study-Easy
				Account zuzugreifen. Andere Nutzer d&uuml;rfen Informationen
				&uuml;ber Sie austauschen oder weitergeben. Dienstanbieter: Wir
				beauftragen Dienstanbieter, die f&uuml;r uns in Deutschland und in
				anderen L&auml;ndern Funktionen ausf&uuml;hren und Dienste
				bereitstellen. Wir k&ouml;nnen Ihre personenbezogenen Daten mit
				diesen Dienstanbietern unter Einhaltung von Pflichten, die mit
				dieser Datenschutzrichtlinie und anderen angemessenen
				Vertraulichkeits- und Sicherheitsma&szlig;nahmen
				&uuml;bereinstimmen, und unter der Bedingung austauschen, dass die
				Drittanbieter Ihre pers&ouml;nlichen Daten nur in unserem Namen und
				gem&auml;&szlig; unseren Anweisungen verwenden. Informationen zu den
				Datenschutzpraktiken dieser Drittanbieter finden Sie in deren
				Datenschutzrichtlinien. Recht und Rechtsverletzungen: Ungeachtet
				anderslautender Bestimmungen in dieser Datenschutzrichtlinie
				d&uuml;rfen wir Ihre Daten offenlegen, wenn wir der Auffassung sind,
				dass dies angemessen und erforderlich ist, um Gesetze und
				Vorschriften einzuhalten oder gerichtlichen oder beh&ouml;rdlichen
				Aufforderungen; nachzukommen, um die Sicherheit von Personen zu
				sch&uuml;tzen, um gegen Betrug vorzugehen oder Sicherheits- und
				technische Fehler zu beheben, oder um die Rechte oder das Eigentum
				von Study-Easy zu sch&uuml;tzen. Durch die Bestimmungen dieser
				Datenschutzrichtlinie werden jedoch Ihre rechtlichen Einreden oder
				Einw&auml;nde nicht eingeschr&auml;nkt, die Sie gegen die
				Offenlegung Ihrer Daten durch Dritte, einschlie&szlig;lich
				Beh&ouml;rden, vorbringen k&ouml;nnen. Gesch&auml;fts&uuml;bergabe
				und verbundene Unternehmen: Falls gegen Study-Easy ein
				Insolvenzverfahren er&ouml;ffnet wird oder Study-Easy an einem
				Unternehmenszusammenschluss, einer &Uuml;bernahme, einer
				Umstrukturierung oder einem Verkauf der Verm&ouml;genswerte
				beteiligt ist, k&ouml;nnen Ihre Daten im Rahmen einer solchen
				Transaktion verkauft oder &uuml;bertragen werden. Diese
				Datenschutzrichtlinie gilt auch f&uuml;r die Daten, die an das neue
				Unternehmen &uuml;bertragen werden. Unter Umst&auml;nden geben wir
				Informationen &uuml;ber Sie an unsere verbundenen Unternehmen
				weiter, damit wir unsere Dienste bereitstellen, nachvollziehen und
				verbessern sowie die Dienste unserer verbundenen Unternehmen
				verbessern k&ouml;nnen, etwa die Zustellung von Anzeigen. Nicht
				private oder nicht personenbezogene Daten: Wir sind befugt, Ihre
				nicht privaten, erfassten oder sonstigen nicht personenbezogenen
				Daten weiterzugeben oder offenzulegen, nachdem wir zuvor
				personenbezogene Informationen (wie Name und Kontaktdaten) entfernt
				haben. Dazu geh&ouml;ren beispielsweise Ihre Nutzerprofildaten.
				Zugriff auf und &Auml;nderung von pers&ouml;nlichen Daten Als
				registriertem Nutzer unserer Dienste stellen wir Ihnen Hilfsmittel
				undAccount-Einstellungen zur Verf&uuml;gung, die es Ihnen
				erm&ouml;glichen, auf Ihre pers&ouml;nlichen Daten, die Sie uns
				mitgeteilt haben und die mit Ihrem Account verbunden sind,
				zuzugreifen und diese zu korrigieren, zu l&ouml;schen oder zu
				&auml;ndern. Sie k&ouml;nnen Ihren Study-Easy Account auch f&uuml;r
				immer l&ouml;schen. Wenn Sie diesen Anweisungen folgen, wird Ihr
				Account deaktiviert und anschlie&szlig;end gel&ouml;scht. Wenn Ihr
				Account deaktiviert wurde, wird dieser auf Study-Easy nicht
				angezeigt. Die Deaktivierung kann bis zu 40 Tage lang
				r&uuml;ckg&auml;ngig gemacht werden, falls der Account versehentlich
				oder f&auml;lschlicherweise deaktiviert wurde. Vorbehaltlich einer
				anderen Absprache zwischen Ihnen und Study-Easy zur
				Verl&auml;ngerung der Deaktivierungsfrist beginnen wir nach 100
				Tagen damit, Ihren Account von unseren Systemen zu l&ouml;schen, was
				bis zu einem Jahr dauern kann. Unsere Grunds&auml;tze in Bezug auf
				Kinder Unsere Dienste richten sich nicht an Personen unter 13
				Jahren. Sollten Sie feststellen, dass Ihr Kind ohne Ihr
				Einverst&auml;ndnis pers&ouml;nliche Daten an uns &uuml;bermittelt
				hat, k&ouml;nnen Sie hier Kontakt zu uns aufnehmen. Sollten wir
				feststellen, dass ein Kind unter 13 Jahren pers&ouml;nliche Daten an
				uns &uuml;bermittelt hat, werden wir diese Informationen entfernen
				und den Account des Kindes l&ouml;schen. Weitere Ressourcen f&uuml;r
				Eltern und Jugendliche finden Sie hier. EU Safe Harbor Framework:
				Datenschutzabkommen zwischen der EU und den USA Die zwischen den USA
				und der EU und zwischen den USA und der Schweiz getroffene
				Vereinbarung &uuml;ber die Datenschutzgrunds&auml;tze des Safe
				Harbor in Bezug auf Informationspflicht, Wahlm&ouml;glichkeit,
				Weitergabe, Sicherheit, Datenintegrit&auml;t, Zugangsrecht und
				Umsetzung werden von Study-Easy eingehalten. Weitere Informationen
				sowie unsere Zertifizierung finden Sie auf der Website des
				US-Wirtschaftsministeriums. &Auml;nderung dieser Richtlinie Wir
				werden diese Datenschutzrichtlinie gegebenenfalls von Zeit zu Zeit
				&uuml;berarbeiten. Die Verwendung Ihrer Daten unterliegt der jeweils
				aktuellen Version, die unter Study-Easy abgerufen werden kann.
				Sollten wir eine nach unserem Ermessen notwendige &Auml;nderung
				dieser Richtlinie vornehmen, werden wir Sie &uuml;ber Ihren Account
				benachrichtigen. Wenn Sie nach Inkrafttreten dieser &Auml;nderungen
				weiterhin auf unsere Dienste zugreifen und diese nutzen,
				erkl&auml;ren Sie Ihr Einverst&auml;ndnis, rechtlich an die
				&uuml;berarbeitete Datenschutzrichtlinie gebunden zu sein.


				G&uuml;ltig ab: 20. Juli 2015</p><br /><br />

			<p id="Nutzung">Allgemeine Gesch&auml;ftsbedingungen von
				Study-Easy</p><br />
			<p>Diese Allgemeinen Gesch&auml;ftsbedingungen (&bdquo;Bedingungen&ldquo;)
				regeln den Zugriff auf und die Nutzung unsere(r) Dienste. Dazu
				geh&ouml;ren unsere Websites, Applikationen, Buttons sowie unsere
				anderen Dienste, die mit diesen Bedingungen verkn&uuml;pft sind
				(kollektiv die &bdquo;Dienste&ldquo;) ebenso wie Informationen, Texte, Grafiken,
				Fotos oder Materialien, die hochgeladen, heruntergeladen oder bei
				den Diensten angezeigt werden (kollektiv die &bdquo;Inhalte&ldquo;). Der Zugriff
				auf die Dienste und deren Nutzung setzen voraus, dass Sie sich mit
				diesen Bedingungen einverstanden erkl&auml;ren und sie
				erf&uuml;llen. Indem Sie auf die Dienste zugreifen oder diese
				nutzen, verpflichten Sie sich zur Einhaltung der vorliegenden
				Bedingungen. 1.Grundlegende Bedingungen Sie sind f&uuml;r die Nutzung der
				Dienste verantwortlich, ebenso f&uuml;r die Inhalte, die Sie im Rahmen
				der Dienste &uuml;bermitteln sowie f&uuml;r alle sich daraus ergebenden
				Folgen. Die meisten Inhalte, die Sie &uuml;ber die Study-Easy Dienste
				&uuml;bermitteln oder ver&ouml;ffentlichen, sind standardm&auml;
				&szlig;ig &ouml;ffentlich und k&ouml;nnen von anderen Nutzern der Dienste
				sowie &uuml;ber Dienste und Websites Dritter angezeigt werden Sie
				k&ouml;nnen die Dienste nur dann nutzen, wenn Sie einen rechtlich
				verbindlichen Vertrag mit Study-Easy abschlie&szlig;en d&uuml;rfen
				und nach dem Recht der Deutschen oder anderer Rechtsordnungen nicht
				davon ausgeschlossen sind, Dienste in Anspruch zu nehmen. Falls Sie
				sich im Namen einer Firma, Organisation, Regierung oder einer
				anderen juristischen Person mit den vorliegenden Bedingungen und der
				Nutzung der Dienste einverstanden erkl&auml;ren, so
				gew&auml;hrleisten Sie, dass Sie hierzu befugt sind. Sie d&uuml;rfen
				die Dienste nur unter Einhaltung dieser Bedingungen und aller
				anwendbaren lokalen, regionalen, nationalen und internationalen
				Gesetze, Vorschriften und Richtlinien nutzen. Die von Study-Easy
				angebotenen Dienste unterliegen einer kontinuierlichen
				Weiterentwicklung. Die Form und Beschaffenheit der von Study-Easy
				angebotenen Dienste kann sich daher von Zeit zu Zeit ohne
				Vorank&uuml;ndigung &auml;ndern. Study-Easy beh&auml;lt sich dar&uuml;ber
				hinaus vor, die Bereitstellung der Dienste (oder Funktionen
				innerhalb der Dienste) f&uuml;r einzelne oder alle Nutzer zeitweise oder
				dauerhaft einzustellen. Es ist Study-Easy gegebenenfalls nicht
				m&ouml;glich, dies vorher anzuk&uuml;ndigen. Wir behalten uns au
				&szlig;erdem das Recht vor, nach eigenem Ermessen, jederzeit und
				ohne Vorank&uuml;ndigung Einschr&auml;nkungen in Bezug auf die
				Nutzung und Speicherkapazit&auml;ten festzulegen. Die Dienste k&ouml;nnen
				Werbung enthalten, die gezielt auf die Inhalte, Informationen oder
				auf die &uuml;ber die Dienste gestellten Abfragen und andere
				Informationen abgestimmt sein k&ouml;nnen. Art und Umfang der Werbung
				durch Study-Easy im Rahmen der Dienste k&ouml;nnen sich &auml;ndern.
				Daf&uuml;r dass Study-Easy Ihnen den Zugang zu den Diensten und deren
				Nutzung gew&auml;hrt, erkl&auml;ren Sie Ihr Einverst&auml;ndnis,
				dass Study-Easy und seine Drittanbieter und Partner im Rahmen der
				Dienste oder im Zusammenhang mit den Inhalten oder Informationen,
				die Sie oder andere im Rahmen der Dienste bereitstellen,
				entsprechende Werbung platzieren d&uuml;rfen. 2. Datenschutz
				S&auml;mtliche Daten, die Sie oder andere Nutzer Study-Easy zur
				Verf&uuml;gung stellen, unterliegen unserer Datenschutzrichtlinie.
				Diese regelt die Erfassung und Nutzung Ihrer Daten durch Study-Easy.
				Mit der Nutzung der Dienste erkennen Sie an, dass diese Daten
				gem&auml;&szlig; der Datenschutzrichtlinie erfasst und verwendet
				werden und zwecks Speicherung, Verarbeitung und Verwendung durch
				Study-Easy auf jeweilige Server verschiedner L&auml;nder
				&uuml;bertragen werden. Im Rahmen der Bereitstellung der Dienste
				m&uuml;ssen wir Ihnen gegebenenfalls Mitteilungen wie
				Servicemeldungen und administrative Nachrichten zukommen lassen.
				Diese Mitteilungen sind Bestandteil der Dienste und Ihres Study-Easy
				Accounts, die Sie nicht abbestellen k&ouml;nnen. 3. Passw&ouml;rter
				Sie sind f&uuml;r den Schutz Ihres Passworts verantwortlich, das Sie f&uuml;r
				den Zugriff auf die Dienste verwenden, sowie f&uuml;r s&auml;mtliche
				Aktivit&auml;ten oder Aktionen, die unter Verwendung dieses
				Passworts durchgef&uuml;hrt werden. Wir empfehlen Ihnen, f&uuml;r Ihren
				Account ein „starkes” Passwort zu verwenden, also eines, das aus
				einer Kombination von Gro&szlig;- und Kleinbuchstaben,
				Zahlen und Symbolen besteht. Study-Easy kann und wird keine Haftung
				f&uuml;r Verluste oder Sch&auml;den &uuml;bernehmen, die sich aus der
				Nichteinhaltung der obigen Hinweise ergeben. 4. Im Rahmen der
				Dienste bereitgestellte Inhalte Alle Inhalte, die &ouml;ffentlich
				oder privat &uuml;bermittelt werden, liegen in der alleinigen
				Verantwortung der Person, von der diese Inhalte stammen. Die
				&uuml;ber die Dienste ver&ouml;ffentlichten Inhalte werden von uns
				nicht &uuml;berpr&uuml;ft oder &uuml;berwacht, sodass wir f&uuml;r die
				Inhalte keine Verantwortung &uuml;bernehmen k&ouml;nnen. Die Nutzung von
				und das Vertrauen in die Inhalte oder Materialien, die &uuml;ber die
				Dienste ver&ouml;ffentlicht werden oder die Sie &uuml;ber die Dienste
				erhalten, erfolgt auf eigene Gefahr. Die Vollst&auml;ndigkeit, der
				Wahrheitsgehalt, die Richtigkeit oder die Verl&auml;sslichkeit der
				&uuml;ber die Dienste ver&ouml;ffentlichten Inhalte oder Mitteilungen
				werden von uns nicht bef&uuml;rwortet, unterst&uuml;tzt, vertreten
				oder garantiert. Ebenso wenig stimmen wir den &uuml;ber die Dienste
				ge&auml;u &szlig;erten Meinungen zu. Durch die Nutzung der Dienste
				erkennen Sie an, dass Sie gegebenenfalls anst&ouml; &szlig;igen,
				sch&auml;dlichen, falschen oder anderweitig unangebrachten Inhalten
				oder gegebenenfalls auch Beitr&auml;gen ausgesetzt sein k&ouml;nnen, die
				beleidigend, sch&auml;dlich, ungenau oder auf andere Weise
				unangemessen sein k&ouml;nnen. In einigen F&auml;llen k&ouml;nnen
				Beitr&auml;ge falsch bezeichnet oder anderweitig irref&uuml;hrend
				sein. Study-Easy haftet unter keinen Umst&auml;nden f&uuml;r Inhalte
				jedweder Art, insbesondere nicht f&uuml;r fehlerhafte oder
				unvollst&auml;ndige Inhalte oder f&uuml;r Verluste oder Sch&auml;den
				jedweder Art, die aufgrund der Nutzung der &uuml;ber die Dienste
				oder anderswo ver&ouml;ffentlichten, per E-Mail versandten,
				&uuml;bertragenen oder anderweitig zur Verfuuml;gung gestellten
				Inhalte entstehen. 5. Ihre Rechte Sie behalten die Rechte an allen
				Inhalten, die Sie &uuml;ber die Dienste &uuml;bermitteln,
				ver&ouml;ffentlichen oder anzeigen. Durch &Uuml;bermittlung,
				Ver&ouml;ffentlichung oder Anzeigen von Inhalten &uuml;ber die Dienste
				gew&auml;hren Sie uns eine weltweite, nicht exklusive,
				unentgeltliche Lizenz (mit dem Recht zur Unterlizenzierung), diese
				Inhalte in s&auml;mtlichen Medien und &uuml;ber s&auml;mtliche
				Verbreitungswege, die gegenw&auml;rtig bekannt sind oder in Zukunft
				bekannt sein werden, zu verwenden, zu vervielf&auml;ltigen, zu
				reproduzieren, zu verarbeiten, anzupassen, abzu&auml;ndern, zu
				ver&ouml;ffentlichen, zu &uuml;bertragen, anzuzeigen und zu
				verbreiten. Sie best&auml;tigen, dass Study-Easy mit dieser Lizenz
				das Recht hat, die Dienste bereitzustellen, zu f&ouml;rdern und zu
				verbessern und die &uuml;ber die Dienste &uuml;bermittelten Inhalte
				gem&auml; &szlig; unseren Nutzungsbedingungen anderen Unternehmen,
				Organisationen oder Einzelpersonen zur Verf&uuml;gung zu stellen,
				die mit Study-Easy zwecks Syndizierung, &Uuml;bertragung,
				Verbreitung oder Ver&ouml;ffentlichung dieser Inhalte in anderen
				Medien und Diensten im Rahmen einer Partnerschaft zusammenarbeiten.
				Die von Ihnen im Rahmen der Dienste &uuml;bermittelten,
				ver&ouml;ffentlichten, &uuml;bertragenen oder anderweitig
				bereitgestellten Inhalte k&ouml;nnen von Study-Easy oder anderen mit
				Study-Easy zusammenarbeitenden Unternehmen, Organisationen oder
				Einzelpersonen zus&auml;tzlich verwendet werden, ohne dass Ihnen
				hierf&uuml;r eine Verg&uuml;tung gezahlt wird. Um die &Uuml;bertragung,
				Verbreitung und/oder Anzeige Ihrer Inhalte &uuml;ber Computernetzwerke
				und innerhalb diverser Medien zu erm&ouml;glichen, darf Study-Easy
				diese Inhalte modifizieren oder anpassen und/oder solche
				&Auml;nderungen daran vornehmen, wie es zur Anpassung der Inhalte an
				die Erfordernisse und Beschr&auml;nkungen dieser Netzwerke, Ger&auml;te,
				Dienste oder Medien notwendig ist. Sie sind f&uuml;r Ihre Nutzung der
				Dienste, die von Ihnen bereitgestellten Inhalte sowie f&uuml;r alle sich
				daraus ergebenden Folgen verantwortlich. Dies gilt auch f&uuml;r die
				Nutzung Ihrer Inhalte durch andere Nutzer und unsere externen
				Partner. Sie erkennen an, dass Ihre Inhalte von unseren Partnern
				syndiziert, &uuml;bertragen, verbreitet oder ver&ouml;ffentlicht werden
				d&uuml;rfen. Wenn Sie nicht befugt sind, Inhalte f&uuml;r eine derartige
				Verwendung zu &uuml;bermitteln, k&ouml;nnen Sie zur Haftung herangezogen
				werden. Study-Easy &uuml;bernimmt keine Verantwortung oder Haftung,
				wenn wir Ihre Inhalte gem&auml; &szlig; den vorliegenden Bedingungen
				nutzen. Sie gew&auml;hrleisten und sichern zu, dass Sie &uuml;ber alle
				Rechte, Vollmachten und Befugnisse verf&uuml;gen, die erforderlich sind,
				um die hierin einger&auml;umten Rechte an den von Ihnen
				&uuml;bermittelten Inhalten zu gew&auml;hren. 6. Lizenz zur Nutzung der
				Dienste Study-Easy gew&auml;hrt Ihnen eine pers&ouml;nliche, weltweite,
				geb&uuml;hrenfreie, nicht &uuml;bertragbare und nicht exklusive Lizenz
				zur Nutzung der Software, die Ihnen als Bestandteil der Dienste zur
				Verf&uuml;gung gestellt wird. Diese Lizenz dient dem alleinigen Zweck,
				Ihnen zu erm&ouml;glichen, die von Study-Easy bereitgestellten
				Dienste gem&auml; &szlig; den vorliegenden Bedingungen zu nutzen und
				deren Vorteile zu genie &szlig;en. 7. Die Rechte von Study-Easy Alle
				Rechte, Rechtstitel und Nutzungsrechte an den Diensten sind und
				bleiben (mit Ausnahme der von den Nutzern &uuml;bermittelten Inhalte)
				alleiniges Eigentum von Study-Easy und seinen Lizenzgebern. Die
				Dienste sind durch Urheberrechte, Markenrechte und andere Gesetze in
				Deutschland und anderer L&auml;nder gesch&uuml;tzt. Mit den
				vorliegenden Bedingungen wird Ihnen nicht das Recht gew&auml;hrt,
				den Namen „Study-Easy“ oder die Markenzeichen, Logos, Domainnamen
				und sonstige charakteristische Markenzeichen von Study-Easy zu
				verwenden. Alle R&uuml;ckmeldungen, Kommentare oder Vorschl&auml;ge,
				die Sie in Bezug auf Study-Easy oder die Dienste &uuml;bermitteln,
				sind absolut freiwillig, und es steht uns frei, diese
				R&uuml;ckmeldungen, Kommentare oder Vorschl&auml;ge nach eigenem
				Ermessen zu verwenden, ohne dass uns Ihnen gegen&uuml;ber
				Verpflichtungen entstehen. 8. Einschr&auml;nkungen in Bezug auf
				Inhalte und die Nutzung der Dienste Bitte lesen Sie die Study-Easy
				Regeln (die Bestandteil dieser Bedingungen sind), um zu erfahren,
				was im Hinblick auf die Study-Easy Dienste untersagt ist. Wir
				behalten uns jederzeit das Recht vor (sind jedoch nicht
				verpflichtet), Inhalte innerhalb der Dienste zu l&ouml;schen oder deren
				Verbreitung zu verweigern, Nutzer zu sperren oder ihnen zu
				k&uuml;ndigen und den Nutzernamen zu entziehen, ohne dass wir Ihnen
				gegen&uuml;ber haftpflichtig sind. Wir behalten uns au &szlig;erdem
				das Recht vor, auf Informationen zuzugreifen, diese zu lesen,
				aufzubewahren und offenzulegen, wenn wir Grund zu der Annahme haben,
				dass dies notwendig ist, um (i) geltende Gesetze und Vorschriften,
				Rechtswege oder beh&ouml;rdliche Anforderungen zu erf&uuml;llen, (ii) die
				vorliegenden Bedingungen durchzusetzen und Ermittlungen im Falle
				m&ouml;glicher Verst&ouml; &szlig;e gegen diese Bedingungen
				durchzuf&uuml;hren, (iii) Betrug und sicherheitsrelevante oder
				technische Probleme aufzudecken, zu verhindern oder anderweitig
				darauf zu reagieren, (iv) auf Supportanfragen von Nutzern zu
				antworten oder (v) die Rechte, das Eigentum oder die Sicherheit von
				Study-Easy, seinen Nutzern und der &Ouml;ffentlichkeit zu
				sch&uuml;tzen. Wenn Sie auf die Dienste zugreifen oder diese nutzen,
				ist es Ihnen untersagt: (i) auf nicht &ouml;ffentliche Bereiche
				innerhalb der Dienste, auf Computersysteme von Study-Easy oder auf
				die technischen Bereitstellungssysteme unserer Anbieter zuzugreifen
				oder diese zu nutzen, (ii) Schwachstellen im System oder Netzwerk
				auszukundschaften, zu scannen oder zu testen oder gegen Sicherheits-
				bzw. Identifizierungsma &szlig;nahmen zu verst&ouml; &szlig;en oder
				diese zu umgehen. Das sogenannte „Scraping“ der Dienste ist ohne
				vorherige Genehmigung von Study-Easyr ausdr&uuml;cklich untersagt),
				(iv) den TCP/IP Paketheader oder Teile der Headerinformationen in
				E-Mails oder Beitr&auml;gen zu f&auml;lschen oder die Dienste zu
				nutzen, um ver&auml;nderte oder irref&uuml;hrende Informationen oder
				Informationen unter Angabe falscher Quellen zu versenden, oder (v)
				den Zugang von Nutzern, Hosts oder Netzwerken zu behindern oder zu
				unterbrechen (oder dies zu versuchen) und insbesondere Viren zu
				&uuml;bertragen und die Dienste &uuml;berzubelasten und mit Paketen
				und unerw&uuml;nschten E-Mails zu &uuml;berschwemmen oder zu
				bombardieren und durch Skripting Inhalte zu erstellen, um die
				Dienste auf ungeb&uuml;hrliche Art und Weise zu beintr&auml;chtigen
				oder zu belasten. 9. Urheberrechtsrichtlinien Study-Easy respektiert
				die geistigen Eigentumsrechte Dritter und erwartet von den Nutzern
				der Dienste, dies ebenfalls zu tun. Hinweise auf vermeintliche
				Urheberrechtsverletzungen, die den Vorgaben geltender Gesetze
				entsprechen und uns ordnungsgem&auml; &szlig; angezeigt werden,
				werden von uns verfolgt. Wenn Sie der Ansicht sind, dass Ihre
				Inhalte in einer Weise kopiert wurden, die einen Versto &szlig;
				gegen das Urheberrecht darstellt, bitten wir Sie um folgende
				Angaben: (i) eine handschriftliche oder elektronische Unterschrift
				des Urheberrechtsinhabers oder einer Person, die befugt ist, in
				dessen Namen zu handeln, (ii) die genaue Bezeichnung des
				urheberrechtlich gesch&uuml;tzten Werks, das vermeintlich verletzt
				wurde, (iii) eine genaue Bezeichnung des Materials, das angeblich
				das Urheberrecht verletzt oder Gegenstand eines Versto &szlig;es ist
				und das entfernt werden oder auf das der Zugriff unterbunden werden
				soll, sowie alle f&uuml;r die Lokalisierung des Materials ben&ouml;tigten
				Informationen, (iv) Ihre Kontaktdaten, einschlie &szlig;lich
				Anschrift, Telefonnummer und E-Mail-Adresse, (v) eine
				Erkl&auml;rung, in der Sie nach Treu und Glauben Ihre &Uuml;berzeugung
				darlegen, dass die umstrittene Verwendung des Materials vom
				Rechteinhaber oder von seinem Beauftragten nicht genehmigt wurde
				oder gesetzlich nicht zul&auml;ssig ist, und (vi) eine
				Erkl&auml;rung, dass die Angaben in Ihrer Anzeige korrekt sind sowie
				eine Erkl&auml;rung an Eides statt, dass Sie befugt sind, im Namen
				des Rechteinhabers zu handeln. Wir behalten uns das Recht vor,
				vermeintlich rechtswidrige Inhalte ohne vorherige Ank&uuml;ndigung
				und nach eigenem Ermessen zu entfernen, ohne dass wir Ihnen
				gegen&uuml;ber haftpflichtig sind. Dar&uuml;ber hinaus wird Study-Easy
				unter gegebenen Umst&auml;nden Nutzerkonten k&uuml;ndigen, wenn sich
				herausstellt, dass der entsprechende Nutzer wiederholt gegen Rechte
				versto &szlig;en hat. 10. Beendigung Die vorliegenden Bedingungen
				bleiben so lange g&uuml;ltig, bis sie entweder von Ihnen oder von
				Study-Easy wie folgt gek&uuml;ndigt werden: Sie k&ouml;nnen Ihre
				rechtliche Vereinbarung mit Study-Easy jederzeit aus beliebigem
				Grund k&uuml;ndigen, indem Sie Ihre Accounts l&ouml;schen und die
				Nutzung der Dienste einstellen. Wir k&ouml;nnen Ihre Accounts
				sperren oder k&ouml;ndigen oder Ihnen die Bereitstellung der Dienste
				jederzeit aus beliebigem Grund ganz oder teilweise verwehren,
				insbesondere, wenn wir Grund zu der Annahme haben, dass: (i) Sie
				gegen die vorliegenden Bedingungen oder die Study-Easy Regeln versto
				&szlig;en haben, (ii) Sie f&uuml;r uns eine Gefahr oder ein m&ouml;gliches
				rechtliches Risiko darstellen oder (iii) es wirtschaftlich nicht
				mehr vertretbar ist, Ihnen die Dienste bereitzustellen. Wir werden
				uns nach besten Kr&auml;ften bem&uuml;hen, Sie bei Ihrem n&auml;chsten
				Zugriff auf Ihren Account hier&uuml;ber zu informieren. In all diesen
				F&auml;llen erlischt die G&uuml;ltigkeit der vorliegenden
				Bedingungen, insbesondere Ihre Lizenz zur Nutzung der Dienste.
				Hiervon ausgenommen sind die folgenden Abs&auml;tze, die weiterhin
				g&uuml;ltig bleiben: 4, 5, 7, 8, 10, 11 und 12. Durch die
				Bestimmungen dieses Absatzes bleiben die Rechte von Study-Easy
				unber&uuml;hrt, die Bereitstellung der Dienste ohne
				Vorank&uuml;ndigung, wie oben in Absatz 1 festgelegt, zu
				&auml;ndern, zu beschr&auml;nken oder einzustellen. 11.
				Haftungsausschluss und Haftungsbeschr&auml;nkungen Lesen Sie diesen
				Abschnitt bitte sorgf&auml;ltig durch, da hiermit die Haftung von
				Study-Easy und verbundenen Unternehmen, F&uuml;hrungskr&auml;ften,
				Mitarbeitern, Beauftragten, Vertretern, Partnern und Lizenzgebern
				(kollektiv die „Study-Easy Rechtstr&auml;ger“) beschr&auml;nkt wird.
				Jeder der nachstehenden Unterabs&auml;tze gilt nur im weitestgehend
				gesetzlich zul&auml;ssigen Rahmen. In einigen Rechtsprechungen ist
				es nicht erlaubt, in Vertr&auml;gen stillschweigende
				Gew&auml;hrleistungen auszuschlie &szlig;en oder die Haftung zu
				beschr&auml;nken, sodass die Bestimmungen dieses Abschnitts
				m&ouml;glicherweise f&uuml;r Sie nicht gelten. Die Bestimmungen dieses
				Abschnitts dienen nicht dazu, die Ihnen gegebenenfalls zustehenden
				Rechte einzuschr&auml;nken, die nach geltendem Recht nicht
				eingeschr&auml;nkt werden d&uuml;rfen. A. Bereitstellung der Dienste &bdquo;WIE
				BESEHEN&ldquo; Der Zugriff auf die Dienste und Inhalte sowie deren Nutzung
				erfolgen auf Ihre eigene Gefahr. Sie erkennen an, dass Ihnen die
				Dienste &bdquo;WIE BESEHEN&ldquo; und &bdquo;WIE VERF&Uuml;GBAR&ldquo; bereitgestellt
				werden. Ohne die vorstehenden Bestimmungen einzuschr&auml;nken,
				SCHLIESSEN DIE STUDY-EASY RECHTSTR&Auml;GER ALLE AUSDR&Uuml;CKLICHEN ODER
				STILLSCHWEIGENDEN GEW&Auml;HRLEISTUNGEN UND BEDINGUNGEN HINSICHTLICH
				DER MARKTG&Auml;NGIGEN QUALIT&Auml;T, EIGNUNG F&Uuml;R EINEN BESTIMMTEN
				ZWECK UND DER NICHTVERLETZUNG VON SCHUTZRECHTEN DRITTER AUS. Die
				Study-Easy Rechtstr&auml;ger &uuml;bernehmen keine Garantie oder
				Zusicherung und lehnen jede Verantwortung und Haftung in Bezug auf
				Folgendes ab: (i) Vollst&auml;ndigkeit, Richtigkeit, Verf&uuml;gbarkeit,
				Aktualit&auml;t, Sicherheit oder Zuverl&auml;ssigkeit der Dienste oder
				Inhalte, (ii) etwaige Sch&auml;den an Ihren Computersystemen,
				Datenverlust oder andere Sch&auml;den, die durch den Zugriff auf die
				Dienste und Inhalte oder deren Nutzung entstehen, (iii)
				L&ouml;schung, Nichtspeicherung oder Nicht&uuml;bertragung von
				etwaigen mit den Diensten verbundenen Inhalten und anderen
				Mitteilungen und (iv) die Erf&uuml;llung Ihrer Anforderungen sowie
				die ununterbrochene, sichere und fehlerfreie Bereitstellung der
				Dienste. Aus den von den Study-Easy Rechtstr&ouml;gern oder &uuml;ber die
				Dienste schriftlich oder m&uuml;ndlich erteilten Ausk&uuml;nften und
				Informationen kann keine Garantie oder Zusicherung abgeleitet
				werden, die nicht ausdr&uuml;cklich in den vorliegenden Bedingungen
				festgelegt ist. B. Links Die Dienste k&ouml;nnen Links zu Websites
				oder Ressourcen Dritter enthalten. Sie erkennen an, dass die
				Study-Easy Rechtstr&auml;ger keine Verantwortung oder Haftung
				&uuml;bernehmen f&uuml;r: (i) die Verf&uuml;gbarkeit oder Richtigkeit dieser
				Websites oder Ressourcen oder f&uuml;r (ii) die Inhalte, Produkte oder
				Dienste, die auf oder &uuml;ber diese Websites oder Ressourcen zur
				Verf&uuml;gung gestellt werden. Links zu diesen Websites oder
				Ressourcen sind keineswegs dahingehend zu verstehen, dass die
				Study-Easy Rechtstr&auml;ger diese Websites und Ressourcen oder die
				darin verf&uuml;gbaren Inhalte, Produkte oder Dienste
				unterst&uuml;tzen. Sie &uuml;bernehmen die alleinige Verantwortung
				f&uuml;r die Nutzung dieser Websites oder Ressourcen und tragen alle sich
				hieraus ergebenden Risiken. C. Haftungsbeschr&auml;nkung SOWEIT NACH
				GELTENDEM RECHT ZUL&Auml;SSIG, HAFTEN DIE STUDY-EASY
				RECHTSTR&Auml;GER WEDER F&Uuml;R INDIREKTE, BEIL&Auml;UFIG ENTSTANDENE,
				KONKRETE ODER FOLGESCH&Auml;DEN UND GEW&Auml;HREN KEINEN
				STRAFSCHADENSERSATZ, NOCH HAFTEN SIE F&Uuml;R ENTGANGENE GEWINNE ODER
				UMSATZEINBUSSEN, GLEICH OB DIREKT ODER INDIREKT, NOCH F&Uuml;R
				DATENVERLUSTE, NUTZUNGSAUSF&Auml;LLE, VERLUST DES FIRMENWERTES ODER
				ANDERE IMMATERIELLE VERLUSTE, WENN DIES (i) AUF DEN ZUGRIFF AUF DIE
				DIENSTE ODER AUF DEREN NUTZUNG BZW. AUF FEHLENDE ZUGRIFFS- ODER
				NUTZUNGSM&Ouml;GLICHKEITEN, (ii) AUF DAS VERHALTEN DRITTER ODER DIE
				VON IHNEN IM RAHMEN DER DIENSTE BEREITGESTELLTEN INHALTE,
				INSBESONDERE AUF VERLEUMDERISCHES, ANST&Ouml;SSIGES ODER
				RECHTSWIDRIGES VERHALTEN DRITTER, (iii) AUF DIE &Uuml;BER DIE DIENSTE IN
				ANSPRUCH GENOMMENEN INHALTE ODER (iv) AUF UNERLAUBTE ZUGRIFFE,
				NUTZUNGEN ODER &Auml;NDERUNGEN IHRER INHALTE ODER &Uuml;BERMITTELTEN
				INFORMATIONEN ZUR&Uuml;CKZUF&Uuml;HREN IST. DIE GESAMTHAFTUNG DER
				STUDY-EASY RECHTSTR&Auml;GER &Uuml;BERSTEIGT IN KEINEM FALL EIN EURO (&euro;
				1,00) DIE BESCHR&Auml;NKUNGEN DIESES UNTERABSATZES GELTEN F&Uuml;R ALLE
				HAFTUNGSTHEORIEN, UNABH&Auml;NGIG DAVON, OB ES SICH UM EINE
				GEW&Auml;HRLEISTUNGSHAFTUNG ODER EINE VERTRAGLICHE, GESETZLICHE ODER
				DELIKTISCHE (FAHRL&Auml;SSIGKEIT EINSCHLIESSENDE) ODER ANDERWEITIGE
				HAFTUNG HANDELT UND UNABH&Auml;NGIG DAVON, OB DIE STUDY-EASY
				RECHTSTR&Auml;GER &Uuml;BER DIE M&Ouml;GLICHKEIT EINES SOLCHEN
				SCH&Auml;DENS IN KENNTNIS GESETZT WURDEN, UND SIE GELTEN SELBST
				DANN, WENN EIN HIER FESTGELEGTER RECHTSBEHELF SEINEN EIGENTLICHEN
				ZWECK VERFEHLT HAT. 12. Allgemeine Bestimmungen A.
				Verzichtserkl&auml;rung und Teilnichtigkeit Sollte Study-Easy es
				vers&auml;umen, ein Recht oder eine der vorliegenden Bestimmungen
				geltend zu machen, so gilt dies nicht als Verzicht auf die
				Geltendmachung dieses Rechts oder dieser Bestimmung. Sollte eine
				Bestimmung der vorliegenden Bedingungen f&uuml;r ung&uuml;ltig oder nicht
				durchsetzbar erkl&auml;rt werden, wird die betreffende Bestimmung so
				geringf&uuml;gig wie m&ouml;glich beschr&auml;nkt oder eliminiert,
				w&auml;hrend die &uuml;brigen Bestimmungen dieser Bedingungen
				weiterhin uneingeschr&auml;nkt wirksam sind. B. Geltendes Recht und
				Gerichtsstand Die vorliegenden Bedingungen sowie alle damit
				verbundenen Handlungen unterliegen dem Recht der Bundesrepublik
				Deutschland, wobei es nicht auf den Bundesstaat oder das Land Ihres
				Wohnsitzes ankommt. S&auml;mtliche Anspr&uuml;che, Gerichtsverfahren
				oder Rechtsstreitigkeiten im Zusammenhang mit den Diensten werden
				ausschlie &szlig;lich vor Gerichte in der Bundesrepublik Deutschland
				gebracht. Sie erkl&auml;ren sich mit der Zust&auml;ndigkeit dieser
				Gerichte und dem Gerichtsstand einverstanden und verzichten auf
				jegliche Einrede wegen einer etwaigen &ouml;rtlichen oder sachlichen
				Nichtzust&auml;ndigkeit der Gerichte. C. Gesamte Vereinbarung Die
				vorliegenden Bedingungen, einschlie &szlig;lich der Study-Easy
				Regeln und unsere Datenschutzrichtlinie f&uuml;r die Study-Easy Dienste,
				und unsere Datenschutzrichtlinie stellen die gesamte und ausschlie
				&szlig;liche Vereinbarung zwischen Study-Easy und Ihnen in Bezug auf
				die Dienste dar. Wir sind berechtigt, diese Bedingungen von Zeit zu
				Zeit zu &uuml;berarbeiten. Die aktuelle Version wird immer unter
				Study-Easy bereitgestellt. Sollte nach unserem Ermessen eine
				&Uuml;berarbeitung notwendig sein, werden wir Sie &uuml;ber Ihren Account
				benachrichtigen. Wenn Sie nach Inkrafttreten dieser &Auml;nderungen
				weiterhin auf die Dienste zugreifen und diese nutzen, erkl&auml;ren
				Sie Ihr Einverst&auml;ndnis, rechtlich an die &uuml;berarbeiteten
				Bedingungen gebunden zu sein. Wenn Sie Fragen zu diesen Bedingungen
				haben, nehmen Sie bitte Kontakt zu uns auf. G&uuml;ltig ab: 20. Mai
				2015
			</p><br /><br />
			<p id="Impressum">Impressum</p><br />
			<p>Impressum</p>
		</div>
	</div>
	<div class="footer">

		<p>
			[Foto: <a class="barbottom"
				href="https://www.flickr.com/photos/eflon/8743593650/in/photolist-ejDcLE-7CXAFs-5f12UX-66DNTm-8DBeHu-u7Kox4-48gJ8a-utYpD-qya12-aoUijf-5rLNHy-8sbsWD-5rWxfB-kbvXU-sfGx6-sfFUe-sfF85-9pySMg-nt9qBc-4Q8N1i-7v4ENF-4Jz3fS-4JuNzc-4Jz2KJ-4Jz2GL-nt9qd6-pdkRm1-aRz3b4-8yLnax-7UtbFe-6qwzjT-a9GaMX-rwgSJK-9yjAXz-21mK7-8aHhds-6ZCUh-ciL5S5-nzfe54-8Dz8cn-nbAtrV-5HDt5Y-i2WtQK-i2WsTz-9ynAis-i2WtsR-i2WGjy-i2WG1C-i2WG2E-i2XpiK"
				target="_blank">Alex</a> CC by <a class="barbottom"
				href="https://creativecommons.org/licenses/by/2.0/" target="_blank">2.0
			</a> ] <a th:href="@{/privacy}" target="_blank" class="barbottom">Rechtliches
			</a>
		</p>
	</div>








</body>
</html>