<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>study-easy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${error}"> </p>
<a th:href="@{/}">Home</a>
<form action="#" th:action="@{/register}" th:object="${RegUser}" method="post">
            <table>
                <tr>
                    <td>Gew&uuml;nschter Benutzername:</td>
                    <td><input type="text" th:field="*{name}" placeholder="Deine_Mudda"/></td>
                     <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
              
                </tr>
                <tr>
                    <td>Gew&uuml;nschtes Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                </tr>
                <tr>
                    <td>Bitte Password wiederholen:</td>
                    <td><input type="password" th:field="*{passwordcheck}" /></td>
                    <td th:if="${#fields.hasErrors('passwordcheck')}" th:errors="*{passwordcheck}">Name Error</td>
                </tr>
                <tr>
                	<td>Sicherheitstext f&uuml;r</td>
                </tr>
                <tr>
                    <td>Password vergessen:</td>
                    <td><input type="text" th:field="*{sicherheitsfrage}" /></td>
                    <td th:if="${#fields.hasErrors('sicherheitsfrage')}" th:errors="*{sicherheitsfrage}">Name Error</td>
                </tr>
                <tr>
                	<td>Ich habe die <a href="#">Nutzungsbedingungen</a></td>
                	<td>und <a href="#">Datenrichtlinie</a> gelesen, verstanden</td>
                </tr>
                <tr>
                    <td> und bin einverstanden </td>
                    <td><input type="checkbox" th:field="*{check}" /></td>
                    <td th:if="${#fields.hasErrors('check')}" th:errors="*{check}">Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Feierlich Registrieren</button></td>
                </tr>
            </table>
</form>
</body>
</html>